/* navbar */
#header{
    background-color: #B8FFF9;
    padding: 10px 120px;

}
.container-fluid{
    background-color: #B8FFF9;
    margin: -10px;
    padding: 3% 10% 5%;
}


.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem ! important;
    font-weight: bold ! important;
} 

.nav-link-font{
    margin: 0 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}


.gapping{
    margin: 0px 20px;
}



/* section */

#section{
    height: 600px;
    background-color:#EFFFFD;
    background-size: cover;
    padding: 100px;
    background-image: linear-gradient(90deg, #EFFFFD, #B8FFF9);
    text-align: center;
}
#section h1{
    font-size: 3.5rem;
}
.section-icons{
    margin: 1% 1% ;
}

.input-box{
   margin: 30px auto;
}
.form-control{
    margin: 20px;
}


.section-right{
    padding: 30px auto;
}

/* footer */

#footer{
    background-color: #B8FFF9;
    height: 160px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 50px 100px;
}